article a {
  text-decoration: underline;
}
article a:hover {
  text-decoration: none;
  background-color: white;
  color: #040f8d;
}

article time {
  color: #ffffffb3;
}

article h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

article h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}
