---
import App from '@/layouts/app.astro'
---

<App>
  <article class="flex flex-col items-start gap-4">
    <h1>Codes</h1>
    <ul>
      <li class="flex flex-col items-start gap-2">
        <a href="https://www.raycast.com/xvvhang/raycast-ia-writer" target="_blank">Raycast iA Writer Extension</a>
        <p class="text-white/[0.7]">A Raycast extension for iA Writer with quick notes and quick search features.</p>
      </li>
    </ul>
  </article>
</App>
