---
import Minimal from '../layouts/minimal.astro'
---

<Minimal>
  <article>
    <h1>Xu Hang</h1>

    <hr>

    <h2>Information</h2>

    <ul>
      <li><span>Email</span><a mailto="xvvhang@gmail.com">xvvhang@gmail.com</a></li>
      <li><span>Location</span><span>Shanghai, China</span></li>
    </ul>

    <hr>

    <h2>Experience</h2>

    <h3>Heywhale</h3>

    <p>
      <span>Senior Software Developer</span>
      <span>|</span>
      <span>Oct, 2020 - Present</span>
      <span>|</span>
      <span>Shanghai, China</span>
    </p>

    <p>
      Heywhale has two main product:
      <a href="https://heywhale.com" target="_blank">heywhale.com</a>,
      the biggest data science community in China
      and <a href="https://modelwhale.com" target="_blank">modelwhale.com</a>,
      a collaborative ModelOps platform based on Jupiter Notebook.
      As a fullstack developer, my responsibilities include:
    </p>

    <ul>
      <li><span>Cooperate with product managers and design the architect of products architect</span></li>
      <li><span>Maintain and contribute to heywhale.com frontend parts</span></li>
      <li><span>Maintain and contribute to modelwhale.com frontend parts</span></li>
      <li><span>Contribute to the backend monorepo of heywhale.com and modelwhale.com</span></li>
      <li><span>Contribute to the company's ui library <a href="https://uikit.heywhale.com" target="_blank">uikit</a></span></li>
    </ul>

    <h3>China Entropy</h3>

    <p>
      <span>Senior Software Developer</span>
      <span>|</span>
      <span>Jul, 2019 - Oct, 2020</span>
      <span>|</span>
      <span>Beijing, China</span>
    </p>

    <p>
      China Entropy is a tech provider of 2022 Winter Olympics and has two kind of products:
      communication devices for collecting nature data and send them back to a data platform
      and a data platform to analyze, manage, monitor and visualize key data.
      As a developer, my responsibilities include:
    </p>

    <ul>
      <li><span>Build the manage system of the data platform from scratch</span></li>
      <li><span>Build the visualize system of the data platform with charts from scratch</span></li>
    </ul>

    <h3>iQIYI</h3>

    <p>
      <span>Software Developer in Test</span>
      <span>|</span>
      <span>Apr, 2018 - Jul, 2019</span>
      <span>|</span>
      <span>Chengdu, China</span>
    </p>

    <p>
      iQIYI is one the biggest stream service and mobile game publisher in China.
      As a software developer in test of the Gaming group of iQIYI, my responsibilities include:
    </p>

    <ul>
      <li><span>Maintain and contribute to the automation test framework of the company</span></li>
      <li><span>Maintain and write automation test scripts for different products</span></li>
    </ul>

    <hr>

    <h2>Education</h2>

    <h3>University of Electronic Science and Technology of China</h3>

    <p>
      <span>B.Sc. Applied Physics</span>
      <span>|</span>
      <span>Sep, 2013 - Jun, 2017</span>
      <span>|</span>
      <span>Chengdu, China</span>
    </p>

    <hr>

    <h2>Skills</h2>

    <ul>
      <li><span>HTML</span><span>Advanced</span></li>
      <li><span>CSS</span><span>Advanced</span></li>
      <li><span>JavaScript</span><span>Advanced</span></li>
      <li><span>TypeScript</span><span>Intermediate</span></li>
      <li><span>Rust</span><span>Beginner</span></li>
      <li><span>VueJS</span><span>Advanced</span></li>
      <li><span>ReactJS</span><span>Beginner</span></li>
      <li><span>NuxtJS</span><span>Intermediate</span></li>
      <li><span>NodeJS</span><span>Intermediate</span></li>
      <li><span>Vite</span><span>Intermediate</span></li>
      <li><span>Webpack</span><span>Intermediate</span></li>
      <li><span>GraphQL</span><span>Intermediate</span></li>
      <li><span>MongoDB</span><span>Beginner</span></li>
      <li><span>PostgresQL</span><span>Beginner</span></li>
      <li><span>Prisma</span><span>Beginner</span></li>
      <li><span>Git</span><span>Intermediate</span></li>
      <li><span>Neovim</span><span>Intermediate</span></li>
    </ul>

    <hr>

    <h2>Expectation</h2>

    <p>
      I'm open for overseas or remote jobs
      and interested in building apps to boost people's intelligence or productivity.
    </p>
    <p>
      Please feel free to text me to <a href="mailto:xvvhang@gmail.com">xvvhang@gmail.com</a>
      for any thoughts or opportunities or follow me on
      <a href="https://twitter.com/xvvhang" target="_blank">Twitter</a> or
      <a href="https://github.com/xvvhang" target="_blank">GitHub</a>. Thanks.
    </p>
  </article>
</Minimal>

<style>
article p {
  line-height: 1.5;
}
article a {
  color: white;
}
article a:hover {
  text-decoration: none;
  background: white;
  color: #040f8d;
}
article ul {
  padding-left: 0;
}
article ul li {
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
}
article ul li span:first-child {
  min-width: 10rem;
  margin-right: 1rem;
}
</style>
