---
import Minimal from '../layouts/minimal.astro'
---

<Minimal>
  <article>
    <h1>徐航</h1>

    <hr>

    <h2>个人信息</h2>

    <ul>
      <li><span>邮件</span><a mailto="xvvhang@gmail.com">xvvhang@gmail.com</a></li>
      <li><span>地址</span><span>上海</span></li>
    </ul>

    <hr>

    <h2>职业经历</h2>

    <h3>上海和今科技</h3>

    <p>
      <span>高级研发工程师</span>
      <span>|</span>
      <span>2020 年 10 月至今</span>
      <span>|</span>
      <span>上海</span>
    </p>

    <p>
      和今科技是一家数据科学公司，旗下有两个主要产品：
      <a href="https://heywhale.com" target="_blank">heywhale.com</a>,
      国内最大的数据科学社区，以及
      <a href="https://modelwhale.com" target="_blank">modelwhale.com</a>,
      基于 Jupiter Notebook 的数据科学协作式平台。
      作为全栈工程师，我的主要工作包括：
    </p>

    <ul>
      <li><span>与产品经理合作，设计产品技术架构，实现需求</span></li>
      <li><span>负责开发和维护 heywhale.com 前端项目</span></li>
      <li><span>参与开发和维护 modelwhale.com 前端项目</span></li>
      <li><span>参与开发 heywhale.com 和 modelwhale.com monorepo 后端项目</span></li>
      <li><span>参与开发公司级 UI 组件库 <a href="https://uikit.heywhale.com" target="_blank">uikit</a></span></li>
    </ul>

    <h3>北京汉熵通信</h3>

    <p>
      <span>高级研发工程师</span>
      <span>|</span>
      <span>2019 年 7 月至 2020 年 10 月</span>
      <span>|</span>
      <span>北京</span>
    </p>

    <p>
      汉熵通信是张家口市智慧城市技术提供商，为 2022 北京冬奥会服务，旗下有两个主要产品：
      自研通信设备用于通过传感器采集数据并回传到数据平台，以及数据平台用于分析、管理、监控以及可视化自然环境数据。
      我的主要工作包括：
    </p>

    <ul>
      <li><span>从零到一搭建数据平台管理系统</span></li>
      <li><span>从零到一搭建数据平台可视化系统</span></li>
    </ul>

    <h3>爱奇艺游戏事业部</h3>

    <p>
      <span>测试开发工程师</span>
      <span>|</span>
      <span>2018 年 4 月至 2019 年 7 月</span>
      <span>|</span>
      <span>成都</span>
    </p>

    <p>
      爱奇艺游戏事业部前身为成都天象互娱，主要业务为手游开发和发行。
      作为测试开发工程师，我的主要工作包括：
    </p>

    <ul>
      <li><span>参与开发和维护公司自动化测试框架</span></li>
      <li><span>负责维护自动化测试脚本，满足各游戏项目自动化测试需求</span></li>
    </ul>

    <hr>

    <h2>教育背景</h2>

    <h3>电子科技大学</h3>

    <p>
      <span>应用物理学</span>
      <span>|</span>
      <span>2013 年 9 月至 2017 年 7 月</span>
      <span>|</span>
      <span>成都</span>
    </p>

    <hr>

    <h2>工作技能</h2>

    <ul>
      <li><span>HTML</span><span>Advanced</span></li>
      <li><span>CSS</span><span>Advanced</span></li>
      <li><span>JavaScript</span><span>Advanced</span></li>
      <li><span>TypeScript</span><span>Intermediate</span></li>
      <li><span>Rust</span><span>Beginner</span></li>
      <li><span>VueJS</span><span>Advanced</span></li>
      <li><span>ReactJS</span><span>Beginner</span></li>
      <li><span>NuxtJS</span><span>Intermediate</span></li>
      <li><span>NodeJS</span><span>Intermediate</span></li>
      <li><span>Vite</span><span>Intermediate</span></li>
      <li><span>Webpack</span><span>Intermediate</span></li>
      <li><span>GraphQL</span><span>Intermediate</span></li>
      <li><span>MongoDB</span><span>Beginner</span></li>
      <li><span>PostgresQL</span><span>Beginner</span></li>
      <li><span>Prisma</span><span>Beginner</span></li>
      <li><span>Git</span><span>Intermediate</span></li>
      <li><span>Neovim</span><span>Intermediate</span></li>
    </ul>

    <hr>

    <h2>工作期望</h2>

    <p>
      我对海外工作以及远程工作机会感兴趣，致力于通过代码提升用户的智识与效率。
      如您有任何想法或机会，可随时通过 <a href="mailto:xvvhang@gmail.com">xvvhang@gmail.com</a> 联系，谢谢。
    </p>
  </article>
</Minimal>

<style>
article p {
  line-height: 1.5;
}
article a {
  color: white;
}
article a:hover {
  text-decoration: none;
  background: white;
  color: #040f8d;
}
article ul {
  padding-left: 0;
}
article ul li {
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
}
article ul li span:first-child {
  min-width: 10rem;
  margin-right: 1rem;
}
</style>
