---
import App from '@/layouts/app.astro'
---

<App>
  <article class="flex flex-col items-start gap-4">
    <h1>About</h1>
    <p>Hi, I'm xvvhang.</p>
    <p>I'm a programmer and photographer based in Shanghai</p>
    <p>I'm working on fullstack developments of heywhale.com at Heywhale and learning Gen AI and Rust language.</p>
    <p>I'm learning development and scanning of films and shooting more photos on streets.</p>
  </article>
</App>
