---
import Minimal from '../layouts/minimal.astro'
---
<Minimal>
  <article>
    <h1>xvvhang</h1>
    <p>Hi, I'm Xu Hang (xvvhang).</p>
    <p>
      I make <a href="https://github.com/xvvhang.github.io" target="_blank">programs</a>,
      write <a href="https://xvvhang.substack.com" target="_blank">posts</a>
      and take <a href="https://instagram.com/xvvhang" target="_blank">photos</a>.
      Stay <a href="https://twitter.com/xvvhang" target="_blank">tuned</a> for my works.
    </p>
  </article>
</Minimal>

<style>
article a {
  color: white;
}
article h1, p {
  user-select: none;
}
article a:hover {
  text-decoration: none;
  background: white;
  color: #040f8d;
}
</style>
