---
import App from '@/layouts/app.astro'
---

<App>
  <article class="flex flex-col items-start gap-4">
    <h1>NOW</h1>
    <time datetime="2024-04-25">04/25/2024</time>
    <h2>* Open for a New Job</h2>
    <p>I'm open for a new job right now. Check my CV (<a href="/cv-zh.pdf" target="_blank">zh</a>) if you're interested.</p>
  </article>
</App>
