<footer class="flex justify-end items-center gap-4 text-white/[0.7]">
  <a href="https://github.com/xvvhang" target="_blank" class="hover:bg-white hover:text-[#040f8d]">GitHub</a>
  <a href="https://instagram.com/xvvhang" target="_blank" class="hover:bg-white hover:text-[#040f8d]">Instagram</a>
  <a href="https://twitter.com/xvvhang" target="_blank" class="hover:bg-white hover:text-[#040f8d]">Twitter</a>
</footer>
