---
const current = (route: string) => route === Astro.url.pathname
---
<header>
  <nav class="flex justify-end items-center gap-4 text-white/[0.7]">
    <a href="/" class={ current('/') ? 'bg-white text-[#040f8d]' : 'hover:bg-white hover:text-[#040f8d]' }>About</a>
    <a href="/codes" class={ current('/codes') ? 'bg-white text-[#040f8d]' : 'hover:bg-white hover:text-[#040f8d]' }>Codes</a>
    <!-- <a href="/fotos" class={ current('/fotos') ? 'bg-white text-[#040f8d]' : 'hover:bg-white hover:text-[#040f8d]' }>Fotos</a> -->
  </nav>
</header>
